@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #a78bfa;
  --color-secondary: #6d28d9;
  --color-accent: #f3e8ff;
  --color-neutral: #e5e7eb;
}

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Animation de bulles */
@keyframes rise {
  0% {
    transform: translateY(120%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-120%);
    opacity: 0;
  }
}

.bubble {
  position: absolute;
  bottom: 0;
  background-color: var(--color-primary);
  border-radius: 50%;
  opacity: 0.5;
  animation: rise 4s infinite ease-in-out;
}

.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 20%;
  animation-duration: 3.5s;
  animation-delay: 0s;
}

.bubble:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 50%;
  animation-duration: 5.5s;
  animation-delay: 2s;
}

.bubble:nth-child(3) {
  width: 30px;
  height: 30px;
  left: 70%;
  animation-duration: 3s;
  animation-delay: 1s;
}

.bubble:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 30%;
  animation-duration: 4.5s;
  animation-delay: 3s;
}

.bubble:nth-child(5) {
  width: 20px;
  height: 20px;
  left: 80%;
  animation-duration: 3.5s;
  animation-delay: 1.5s;
}

