@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #A78BFA;
  --color-secondary: #6D28D9;
  --color-accent: #F3E8FF;
  --color-neutral: #E5E7EB;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

