@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #a78bfa;
  --color-secondary: #6d28d9;
  --color-accent: #f3e8ff;
  --color-neutral: #e5e7eb;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
